<form method="post" id="modifyPassword" >
    <h4>修改密码</h4>
    <div class="form-group"><label>用户名</label>
        <input name="loginname" type="text" class="form-control" readonly value="${currUser.loginname}"/>
    </div>
    <div class="form-group"><label>旧密码</label>

        <input
                class="form-control"
                type="password" id="oldPassword"
                name="oldPwd"
        />
    </div>
    <div class="form-group"><label>新密码</label>
        <input
                class="form-control"
                type="password" id="newPassword"
                name="newPwd"
        />
    </div>
    <div class="form-group"><label>确认新密码</label>
        <input
                class="form-control"
                type="password" name="confrimNewPwd"
        />
    </div>


    <div class="form-group">
        <input type="button" class="btn btn-success" id="modifyPwdSave_btn" value="保存修改"/></div>

</form>