<%layout("/front/_layout.html"){%>
<section class="content-wrap main-container" >
    <div class="container">
        <div class="row">

            <main class="col-md-12 main-content">

<div>
    <div class="col-md-6 col-md-offset-3" style="border:3px dashed #ffffff; height:200px; " >
        <div style="padding-top: 50px;margin-bottom: 20px;padding-left: 10px;">
            <h2 style="color: #3598db;">403</h2></div>
        <div style="padding-left: 10px;margin-bottom: 20px"><h4 style="color: #9F9F9F;"> 您没有权限访问该资源。</h4></div>
        <div style="padding-left: 10px"><a href="/" class="btn btn-primary " >进入首页</a></div>
    </div>
</div>
            </main>
        </div></div></section>

<%}%>