<!--Service-->
<div id="service" class="service">
    <div class="container">
        <h3>服务</h3>
        <div class="service-grids">
            <div class="icon-grids">
                <div class="col-md-6 futr-grid futr1">
                    <div class="icon-pic">
                        <div class="icon text-center">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="icon-info">
                        <h4><a href="/orderinfo/">订单服务</a></h4>
                        <p>这里可以查询往期订单的数据，提供订单的分析服务，通过数据可以看到慈鲷鱼的市场行情分析。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 futr-grid">
                    <div class="icon-pic">
                        <div class="icon text-center">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="icon-info">
                        <h4><a href="/supplier/index">鱼商服务</a></h4>
                        <p>在养慈鲷的过程中，接触到了一些鱼商，形形色色什么品质的人都有，这里展示一些觉得不错的靠谱鱼商。</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>