<%layout("/front/_layout.html"){%>
<div class="row ">
    <div class="panel panel-default">
        <div class="panel-heading nostyle">
            <ol class="breadcrumb ">
                <li><a href="/">首页</a></li>
                <li><a href="#">密码找回</a></li>
            </ol>
        </div>
        <div class="panel-body">

                <form class="form-inline col-md-6 col-md-offset-3" role="form">
                    <div class="form-group col-md-offset-3">
                        <input type="email" name="user.email" class="form-control" id="email" placeholder="输入 email">
                    </div>
                    <button type="submit" class="btn btn-primary">找回密码</button>
                </form>

        </div>
    </div>
</div>
<%}%>