<%layout("/admin/_layout.html"){%>
<script type="text/javascript" src="/static/plugins/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/plugins/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/static/plugins/qiniu.js"></script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            知识库
            <small>管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/admin"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">知识库列表</li>
        </ol>
    </section>

    <section class="content">

        <p class="toolbar">
            <a class="create btn btn-success" href="javascript:">新增知识库</a>
            <a class="delete btn btn-danger" href="javascript:">删除知识库</a>
        </p>
        <table id="table"
               data-toggle="table"
               data-url="/adminKnowledgebase/list"
               data-content-type="application/x-www-form-urlencoded" data-method="POST"
               data-show-columns="true"
               data-show-refresh="true"
               data-side-pagination="server"
               data-pagination="true"
               data-toolbar=".toolbar"
               data-search="true" >
            <thead>
            <tr>
                <th data-field="status" data-checkbox="true"></th>
                <th data-field="scName">学名</th>
                <th data-field="enName">英文名</th>
                <th data-field="zhName" >中文名</th>
                <th data-field="bName">商业名</th>
                <th data-field="speciesTxt">种属</th>
                <th data-field="sgTxt">亚群体</th>
                <th data-field="areaTxt">地域</th>
                <th data-field="py">拼音缩写</th>
                <th data-field="operTxt">作者</th>
                <th data-field="action"
                    data-align="center"
                    data-formatter="actionFormatter"
                    data-events="actionEvents">操作
                </th>
            </tr>
            </thead>
        </table>
    </section>
</div>
<%include("/admin/knowledgebase/form.html"){}%>
<script  src="/static/js/knowledgebase.js"></script>
<%}%>