<div class="modal fade" id="view-modal">
    <div class="modal-dialog modal-dialog-large">
        <div class="box">
            <div class="box-header">

            </div>
            <div class="box-body">
                <div id="content-view" class="col-md-12">
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>